/*
Theme Name: Christian Lutz
Description: Theme Newsletter pour Christian Lutz.
Author: ms-studio.net
Author URI: http://ms-studio.net/
Author Email: webdev@ms-studio.net
Tags: simple

Note: the styles below offer all the possibilities of Wysija. The plugin won't recognize any additional styles if you add them.

*/
html {
    background-color: #c11119;
}

header {
    background-color: #fff; /* can be transparent */
}
body {
    color:#333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    background-color: #ffffff; /* can be transparent */
}
footer {
    background-color: #999; /* can be transparent */
}
h1 {
    color: #333;
    font-family: inherit;
    font-size: 22px;
    font-style: italic;
}
h2 {
    color: #333;
    font-family: inherit;
    font-size: 18px;
}
h3 {
    color: #333;
    font-family: inherit;
    font-size: 16px;
}
a {
    color: #c11119;
    text-decoration:underline;
}
unsubscribe {
    color:#000;
}
viewbrowser {
	font-size:12px;
  color:#000;
}